/* Font */
@font-face {
    font-family: 'Poppins'; 
    src: url('Poppins-Regular.ttf') format('ttf'); 
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins'; 
    src: url('Poppins-Light.ttf') format('ttf'); 
    font-weight: lighter;
}

@font-face {
    font-family: 'Poppins'; 
    src: url('Poppins-Medium.ttf') format('ttf'); 
    font-weight: medium;
}

@font-face {
    font-family: 'Poppins'; 
    src: url('Poppins-SemiBold.ttf') format('ttf'); 
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins'; 
    src: url('Poppins-Bold.ttf') format('ttf'); 
    font-weight: bold;
}

/* Style */
* {
    font-family: 'Poppins';
}
body, ul {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: #fff;
    margin: 20px 64px;
}

.header-logo img {
    padding: 5px;
    max-width: 20%;
}

nav{
    display: flex;
    flex-direction: row;
}

nav .navbar-menu{
    margin-right: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 50px;
    font-weight: 600;
    text-align: center;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #E11383;
}

nav ul li a:hover{
    text-decoration: none;
    color: #F5821F;
    font-weight: bold;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    color: #E11383;
    font-size: 24px;
}


.drpdwn-lang {
    float: left;
    overflow: hidden;
  }
  

.drpdwn-lang .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #E11383;
    background-color: inherit;
    font-family: inherit;
    margin: 0; 
 }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

.dropdown-content a {
    float: none;
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {
    background-color: #E11383;
    color: white;
    font-weight: bold;
  }
  
.drpdwn-lang:hover .dropdown-content {
    display: block;
  }

main .content {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
   
main .content .content-description {
    flex: 1 1;
    flex-direction: column;
    margin: 20px 64px;
}
   
main .content .content-description .title {
    font-size: 3.5rem;
    margin-block: 1rem;
    color: #E11383;

    
}
   
main .content .content-description p {
    line-height: 1.5rem;
    font-size: 1rem;
}
   
main .content .content-description button {
    padding: .8rem 2.5rem;
    margin-block-start: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    color: white;
   
    border: 3px solid transparent;
    border-radius: 999px;
    background-color: #E11383;
    cursor: pointer;
    transition: all .15s ease-in;
}

main .content .content-description button i{
    color: #fff;
    size: 1rem;
}
   
main .content .content-description button:hover {
    border: 3px solid #F5821F;
    color: #E11383;
    background-color: transparent;
}
   
main .content .content-image {
    flex: 1 2;
    display: flex;
}
   
main .content .content-image img {
    margin: auto;
    max-width: 100%;
    display: block;
}

@media (max-width: 768px) {
    header {
        flex-direction: row;
        margin: 10px;
    }

    .menu-toggle {
        display: block;
    }

    nav{
        display: flex;
        flex-direction: row-reverse;
        align-self: center;
    }
    
    nav ul {
        display: none;
        flex-direction: column;
        background-color: white;
        position: absolute;
        left: 0;
        width: 100%;
    }

    nav ul.active {
        display: flex;
        margin-top: 50px;
    }

    nav ul li {
        margin: 0;
        text-align: center;
        padding: 10px 0;
    }

    nav ul li:hover {
        color: #fff!;
        background-color: #E11383;
        font-weight: bold;
    }

    main .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .content .content-image img {
        margin: auto;
        max-width: 100%;
        display: block;
    }

    main .content .content-description {
        flex: 1;
        flex-direction: column;
        margin: 10px 75px;
        text-align: center;
    }
}